* {
  margin: 0;
  /* Removes default margin */
  padding: 0;
  /* Removes default padding */
  box-sizing: border-box;
  /* Ensures padding and borders don't affect element width/height */
  font-family: sans-serif;

}

@media (max-width: 480px) {
  * {
    font-size: 10px;
    font-weight: 100;
  }
}