.footer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #6256CA; */
    background-color: rgb(49, 40, 40);
    /* background-color: #fd835e; */
    gap: 10px;
    height: 10vh
}

.footer p {
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
}

#phno {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    gap: 10px;
}

@media (max-width: 480px) {
    .footer {
        width: 100%;
    }

    .footer p {
        font-size: 12px;
    }
}