.Head {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    /* padding: 10px; */
    gap: 20px;
    /* background-color: #fd835e; */
    background-color: rgb(49, 40, 40);

}

.HeadName {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;

}

.HeadName p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.HeadBtn Button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #6256CA;
    font-weight: 700;
}

.HeadBtn {
    width: 150px;
}

@media (max-width: 480px) {
  .Head{
    width: 100%;
  }  
  .HeadName p{
    font-size: 16px;
  }
  .HeadLogo{
    font-size: 20px;
  }
  .HeadName{
    padding-right: 28px;
  }
  .HeadBtn{
    padding-left: 20px;
  }
  .HeadBtn Button {
    width: 100px;
    font-size: 10px;
  }
  #Logout{
    font-size: 18px;
  }
}