.Layout{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.outlet{
    border: 1px solid black;
    padding: 10px;
    min-height: 80vh;
    width: 100%;
}