.Layout {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    padding: 20px;
}

.outlet {
    /* border: 1px solid black; */
    padding: 10px;
    width: 100%;
}

.innerLayout {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FADFA1;
    border-radius: 10px;
    min-height: 80vh;
}

@media (max-width:480px) {
    .Layout {
        width: 100%;

    }

    .innerLayout {
        display: flex;
        flex-direction: column;
        min-height: 80vh;
    }

    .outlet {
        min-height: 80vh;

    }
}