.main {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../Images/TodoBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    height: 100vh;
}

.innerMain {
    background-color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 6px 20px rgba(255, 255, 255, 0.1);
    border-radius: 10px;

}



.Mainhead {
    border: 1px solid rgba(177, 30, 210);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(177, 30, 210);
    padding: 10px;
    width: 400px;
    border-bottom: 2px solid rgba(177, 30, 210);

}

.Mainhead h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    gap: 10px;
}

.Mainbtn {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30vh;
    width: 400px;
}

.Mainbtn Button {
    padding: 10px;
    margin: 10px;
    width: 300px;
    font-weight: 700;
    /* background-color: rgb(177, 30, 210); */

}

.Mainbtn Button:hover {
    background-color: rgb(210, 51, 30);

}

.Mainbtn h3 {
    padding: 10px;

}