.navbar{
    height: 80vh;
}

.navbarLink{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    width: 200px;
    min-height: 80vh;
    gap: 60px;
}