.pending {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pendingMappedList {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center;
}

.list {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    /* width: 20%; */
}

.one {
    padding-left: 20px;
}

.dot {
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation-name: dot;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes dot {
    0% {
        background-color: red;
    }

    25% {
        background-color: rgb(37, 150, 248);
    }

    50% {
        background-color: rgb(0, 255, 174);
    }

    75% {
        background-color: rgb(245, 178, 77);
    }

    100% {
        background-color: red;
    }
}