.today{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.todayHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.todayMappedList{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* width: 20%; */
}

.one{
    padding-left: 20px;
}